#navbar {
    text-align: center;
}

#navbar li {
    display:inline-block;
    padding: 10px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 10px;
}

div.background {
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRWkZEWtdr18hRCDgoZ2LsSvczbDOgCCPf_8VOcXe24-E-0A9NV);
border: 2px solid black;
}

div.transbox {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.9;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
  font-size: large;
}

#heading {
    text-align: center;
    font-family: cursive;
}

#dropdown {
    margin-left: 10px;
    border-radius: 4px;
    border: 2px solid;
    background-color: white;
    font-size: 40px;
    font-family: cursive;
}

#submitButton {
    margin-left: 10px;
    border-radius: 4px;
    border: 2px solid;
    background-color: white;
    font-size: 40px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    font-family: cursive;
}

#numBox1 {
    width: 150px;
    height: 50px;
    margin-left: 275px;
    font-size: 50px;
    font-family: cursive;
    padding: 15px;
    border-color: black;
    border-radius: 4px;
    
}

#numBox2 {
    width: 150px;
    height: 50px;
    margin-left: 10px;
    font-size: 50px;
    font-family: cursive;
    padding: 15px;
    border-color: black;
    border-radius: 4px;
}

#answer {
    margin-left: 75px;
    font-family: cursive;
    text-align: center;
    font-size: 30px;
}

#display {
    font-family: cursive;
    text-align: center;
}
