#navbar {
    text-align: center;
}

#navbar li {
    display:inline-block;
    padding: 10px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 10px;
}

div.background {
  background: url(https://s3.amazonaws.com/spoonflower/public/design_thumbnails/0514/4280/rlemon_shop_thumb.png);
border: 2px solid black;
}

div.transbox {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.9;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
  font-size: large;
}

.writing {
    text-align: center;
    font-family: cursive;
}

div.imagething {
  text-align: center;
}