#navbar {
    text-align: center;
}

#navbar li {
    display:inline-block;
    padding: 10px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 10px;
}

div.background {
  background: url(http://s3.amazonaws.com/spoonflower/public/design_thumbnails/0466/2209/Universe-Pattern_shop_thumb.png) repeat;
  border: 2px solid black;
}

div.transbox {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.8;
  filter: alpha(opacity=60);
  
}

div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
  font-size: large;
}

#heading {
    text-align: center;
}

#heading2 {
    text-align: center;
}

#chicken {
  text-align: center;
}