#navbar {
    text-align: center;
}

#navbar li {
    display:inline-block;
    padding: 10px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 10px;
}

div.background {
  background: url(http://ih0.redbubble.net/image.103341498.8304/flat,800x800,075,f.u2.jpg);
border: 2px solid black;
}

div.transbox {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.9;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
  font-size: large;
}

#heading {
    text-align: center;
    font-family: cursive;
}

#colorChange {

    border-radius: 4px;
    border: 2px solid;
    background-color: white;
    font-size: 30px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    font-family: cursive;
}

#colorStyle {
    margin-left: 10px;
    border-radius: 4px;
    border: 2px solid;
    background-color: white;
    font-size: 30px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    font-family: cursive;
}

#textBox {
    width: 500px;
    height: 30px;
    margin-left: 2px;
    font-size: 40px;
    font-family: cursive;
    padding: 15px;
    border-color: black;
    border-radius: 4px;
}

#addButton {
    border-radius: 4px;
    border: 2px solid;
    background-color: white;
    font-size: 30px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    font-family: cursive;
}

#list {
    font-family: cursive;
    font-size: 40px;
    text-align: center;
}